body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}
.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 45px;
    font-family: sans-serif;
  }
  .logo > img {
    max-width: 100%;
  }
  .navbar {
    width: 50%;
  }
  .navbar ul {
    display: flex;
    justify-content: center;
    gap: 22px;
    list-style: none;
  }
  .menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  .actions {
    width: 15%;
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 14px;  
  }
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  .main {
    margin-top: 140px;
    text-align: center;
  }